@import "../../pages/index.module";

.listWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:40px;

}

.listItem{
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 2px;
  .listItemLeft{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 75%;
    .title{
      font-size: $font-size-large;
      font-weight: bold;
    }
    .marked{
      font-size: $font-size-small;
      color: $font-color-weak;
      margin: 14px 0;
    }
    .time{
       color: #bbb;
      .tag{
         margin-left: 16px;
      }
    }

  }
  .listItemRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 25%;
    .listItemImg{
      width: 80px;
      height: 80px;

    }

  }
}

.loadMore{
  width: 80px;
  height: 48px;
  @include w-h-center;
  font-size: 16px;
  border:1px solid #ccc;
  background:#fff;
  cursor: pointer;

}
