.footBarWrapper{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  background:#fff ;
  color: #242424;
  position: fixed;
  bottom: 0;
}
