
.List {
}

.showInfo {
  margin-left: 10px;
}
.homeWrapper{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  .homeContext{
    width: 100%;
    height: 100%;
  }
}

.homeGoTop{
  position: fixed;
  right: 80px;
  bottom: 80px;
  font-size:40px;
}
