.addArticle-wrapper{
  width: 100%;
  font-size:16px !important;
  max-height: 1000px;
  background: #fff;
  .addArticle-header{
    display: flex;
    height: 64px;
    align-items: center;
    width: 100%;
    .addArticle-upload{
      width:60px;
      height: 60px;
      border: none;
    }
    .addArticle-input{
      height: 64px;
      width: 80%;
      outline: none !important;
      border: none;
      font-size: 30px;

    }
    .addArticle-statusTitle{
      margin-left: 10px;
      font-size: 14px;
      white-space: nowrap;
      color: #c9cdd4;
    }
    .addArticle-btn{
      padding-left: 40px;
      .addArticle-btn-draft{
        background: #fff;
        color: #1890ff;
        height: 50px;
        width: 120px;
      }
      .addArticle-btn-release{
        height: 50px;
        width: 120px;
      }
    }

  }


}
.addArticle-html{
  padding:10px;
  border:1px solid #ddd;
  border-radius: 5px;
  font-size:16px;
  height: 1000px;
  background-color: #f0f0f0;
  overflow: auto;
  .addArticle-html-read{
    background: #fff;
    .addArticle-html-read-html{
      padding: 10px;
    }
  }
  .addArticle-html-write{
    background: #eee;
    height: 100%;
  }
}
/* 代码块高亮 */
pre {position: relative;margin-bottom: 24px;border-radius: 3px;border: 1px solid #C3CCD0;background: #FFF;overflow: hidden;}
code {display: block;padding: 12px 24px;overflow-y: auto;font-weight: 300;font-family: Menlo, monospace;}
code.has-numbering {margin-left: 21px;}
.pre-numbering {position: absolute;top: 0;left: 0;width: 20px;padding: 12px 2px 12px 0;border-right: 1px solid #C3CCD0;border-radius: 3px 0 0 3px;background-color: #EEE;text-align: right;font-family: Menlo, monospace;font-size: 0.8em;color: #AAA;}
